<div style="height: 100%">
  <div style="height: 100%">
    <splitpanes class="default-theme" horizontal>
      <pane min-size="40" :max-size="maxSizePanelGrid">
        <DxDataGrid :style="{padding: '3px',width:'100%', height: '100%'}"
                    :data-source="models"
                    id="gridContainer"
                    :remote-operations="false"
                    :allow-column-reordering="true"
                    :row-alternation-enabled="true"
                    :allow-column-resizing="true"
                    :focused-row-enabled="true"
                    :focused-row-key.sync="focusedRowKey"
                    :show-borders="true"
                    :keyExpr="keyModel"
                    :columns="columns"
                    ref="dataGrid"
                    :loadPanel="loadPanel"
                    @exporting="onExporting"
                    @focused-row-changed="onFocusedRowChanged"
                    @toolbar-preparing="onToolbarPreparing($event)"
        >
          <DxFilterRow
            :visible="true" filterOperations="startswith"
            apply-filter="{key: 'auto',name: 'Immediately'}"
          />
          <DxHeaderFilter
            :visible="true"
          />
          <DxSearchPanel
            :visible="true"
            :width="240"
            placeholder="Поиск..."
          />
          <DxExport
            :enabled="true"
          />
          <DxSummary>
            <DxTotalItem
              :column="keyModel"
              summary-type="count"
            />
          </DxSummary>
          <DxPaging :page-size="25" :enabled="true"/>
          <DxPager
            :show-page-size-selector="true"
            :allowed-page-sizes="pageSizes"
            :show-info="true"
            :visible="true"
          />
          <DxSelection
            show-check-boxes-mode="always"
            :mode="multipleMode"
          />
          <template #cellTemplate="{ data }">
            <img :src="data.value">
          </template>
        </DxDataGrid>
      </pane>
      <pane v-if="!hideDetailPane">
        <DxTabPanel id="content12" :selectedItem="selectedTabPanel"
                    :data-source="tabPageDetails"
                    :show-nav-buttons="true"
                    item-title-template="title"
                    item-template="itemTemplate"
                    :defer-rendering="false"
                    height="100%"
                    @selectionChanged="onSelectionChanged"
        >
          <template #title="{ data: page }">
            <div>
              <span>{{ page.text }}</span>
            </div>
          </template>
          <template #itemTemplate="{ data: page }">
            <CoreView style="height: 100%" :ref="'coreView' + page.idModel"
                      :template-data="page"
            />
          </template>
        </DxTabPanel>
      </pane>
    </splitpanes>
  </div>

  <DxPopup
    :width="widthDetail"
    :height="heightDetail"
    :show-title="true"
    :title.sync="captionEditFormModel"
    :drag-enabled="false"
    :close-on-outside-click="true"
    :visible.sync="isVisibleEditForm"
    :toolbarItems="toolbarContentDetail"
    :showCloseButton="false"
    @shown="onInitialized"
  >
    <div class="popup-property-details">
      <DxForm
        :form-data="editModel"
        :read-only="false"
        :items="propertyItems"
        :show-validation-summary="true"
        validation-group="DesignerModelEditor"
        :show-colon-after-label="true"
        :scrollingEnabled="true"
      />
    </div>
  </DxPopup>


  <DxPopup id="dialog"
           width="30%"
           height="25%"
           :show-title="true"
           title="Выбрать дату и время"
           :drag-enabled="true"
           :close-on-outside-click="false"
           :visible.sync="isVisibleEditFormDialog"
           :showCloseButton="true"
  >
    <div class="dx-field">
      <div class="dx-field-label">Перенести на:</div>
      <div class="dx-field-value">
        <DxDateBox ref="dateTimeDialog"
                   :value="dateNow"
                   type="datetime"
        />
      </div>
    </div>
    <div
      style="position:absolute;float:right; bottom:0px;right:0px;padding: 10px;">
      <DxButton
        icon="save"
        type="success"
        text="Ок"
        v-on:click="onClickDialog"
      />
    </div>
  </DxPopup>

  <DxLoadPanel
    :visible="false"
    :show-indicator="true"
    :show-pane="true"
    :shading="true"
    :close-on-outside-click="false"
    shading-color="rgba(0,0,0,0.4)"
  />
</div>
