
.authpage{
    background: #fff url("../../assets/light.png") no-repeat 50% -90px;

    display:flex;
    width: 100%;
    height: calc(100vh - 90px);
    align-items: flex-start;
    justify-content: center;


}
